#add-beer__page {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#add-beer__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-beer__form > * {
    margin: 5px;
}
