.link-styles {
    background-color: #414bb2;
    color: white;
    border: 2px solid #414bb2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    grid-area: links;
    max-height: 50px;
}

.link-styles:hover {
    background-color: white;
    color: #414bb2;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    grid-area: heading;
    text-align: center;
    font-weight: 700;
}

.main__content-panel > a {
    margin: 5px;
}

.home__user {
    color: #414bb2;
}

img {
    max-width: 100%;
    height: auto;
}
