#add-review__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-review__form > h2 {
    text-align: center;
}

#add-review__form > input,
#add-review__form > textarea {
    width: 300px;
    text-align: center;
}

#rating {
    width: 20px;
}

#add-review__form > button {
    width: fit-content;
}

#add-review__image {
    width: 480px;
    flex-shrink: 1;
}
