.app {
    text-align: center;
}

/* main {
    display: flex;
    justify-content: space-around;
    height: 70vh;
    padding-top: 2vh;
} */

/* .main__content-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'greeting'
        'heading'
        'links';
    align-content: center;
} */

.main__content-panel {
    justify-self: center;
    width: 50%;
    max-width: 800px;
}

.main__image-panel {
    width: 50%;
    max-width: 800px;
}
